@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #000000;
  --gray-1: #fafafa;
  --gray-2: #eaeaea;
  --gray-3: #999999;
  --gray-4: #666666;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--fg);
  color: var(--bg);
}
